@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

.wrapper {
    background: rgb(255, 255, 255);
    margin-left: 5rem;
    margin-right: 5rem;
    margin-top: 2rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    height: 30rem;
}

.wrapper header {
    font-size: 1.5rem;
    font-weight: 600;
}

.wrapper .inputField {
    margin: 20px 0;
    width: 100%;
    display: flex;
    height: 5rem;
}

.input__appliance__container {
    display: grid;
    width: 100%;
}

.input__appliance__container input {
    width: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;;
    padding-left: 15px;
    transition: all 0.3s ease;
    box-shadow: 0 0.1rem 0.15rem rgba(0, 0, 0, 0.1);
}

.input__appliance__container input:focus {
    border-color: rgba(0, 255, 128, 0.43);
}

.inputField button {
    width: 50px;
    height: 100%;
    border: none;
    color: #fff;
    margin-left: 5px;
    font-size: 21px;
    outline: none;
    background: rgba(0, 255, 128, 0.43);
    cursor: pointer;
    border-radius: 3px;
    opacity: 0.6;
    pointer-events: none;
    transition: all 0.3s ease;
}

.inputField button:hover,
.footer button:hover {
    background: rgb(0, 255, 128);
}

.inputField button.active {
    opacity: 1;
    pointer-events: auto;
}

.wrapper .itemsList {
    height: 15rem;
    overflow-y: auto;
}

.itemsList li {
    position: relative;
    list-style: none;
    margin-bottom: 8px;
    background: #f2f2f2;
    border-radius: 3px;
    padding: 10px 15px;
    cursor: default;
    overflow: hidden;
    word-wrap: break-word;
}

.itemsList li .icon {
    position: absolute;
    right: -45px;
    top: 50%;
    transform: translateY(-50%);
    background: #e74c3c;
    width: 45px;
    text-align: center;
    color: #fff;
    padding: 10px 15px;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    transition: all 0.2s ease;
}

.itemsList li:hover .icon {
    right: 0;
}

.wrapper .footer {
    display: flex;
    width: 100%;
    margin-top: 20px;
    align-items: center;
    justify-content: space-between;
}

.removeButton {
    position: absolute;
    top: 0;
    right: 0;
    border-radius: 0.2rem;
    background-color: #ff0009;
    color: white;
    font-weight: bold;
    padding: 0 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.removeButton:hover {
    background-color: #ff5c61;
}

.barWrapper {
    height: 0.3rem;
    width: 23rem;
    display: flex;
    margin: auto 2rem auto auto;
    border-radius: 0.2rem;
}

.rateBar {
    height: 100%;
}

.footer button {
    padding: 6px 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    margin-left: 5px;
    background: rgba(64, 145, 8, 0.68);
    cursor: pointer;
    user-select: none;
    opacity: 0.6;
    pointer-events: none;
    transition: all 0.3s ease;
}

.footer button.active {
    opacity: 1;
    pointer-events: auto;
}

.input__number__watt {
    height: 32px;
    font-size: 0.1rem;
    width: 20%;
    margin-right: 2px;
    border-radius: 4px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1)
}

.addButton {
    cursor: pointer;
    background: #219521;
    color: #ffffff;
    text-align: center;
    font-size: 1em;
    padding: 6px 10px;
    border-radius: 10px;
    transition: all 0.3s ease;
}

.addButton:hover {
    background-color: #29bd29;
}

.addRateButton {
    width: 50%;
    margin: 2rem auto;
    font-size: 1.25rem;
    border-radius: 10px;
    cursor: pointer;
    background: #219521;
    color: #ffffff;
    text-align: center;
    padding: 6px 10px;
    transition: all 0.3s ease;
}

.addRateButton:hover {
    background-color: #29bd29;
}

.inputRateContainer {
    display: flex;
}

.inputRateContainer input {
    width: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;;
    padding-left: 5px;
    transition: all 0.3s ease;
    box-shadow: 0 0.1rem 0.15rem rgba(0, 0, 0, 0.1);
}

.inputRateContainer input:focus {
    border-color: rgba(0, 255, 128, 0.43);
}

.inputRateContainer label {
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
}

.details__appliance__container {
    margin: 1rem 0.25rem 0 0;
    display: flex;
}

.dropdown_list {
    margin-right: 10px;
    border-radius: 4px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;;
}

.remove_item {
    position: absolute;
    top: 0.5rem;
    right: 0.5rem
}

.modalFormContainer {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 101;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0); /* for older browsers */
    background-color: rgba(0, 0, 0, 0.4);
}

.modalForm {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
}

.modalForm input {
    width: 100%;
    outline: none;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;;
    padding-left: 15px;
    transition: all 0.3s ease;
    box-shadow: 0 0.1rem 0.15rem rgba(0, 0, 0, 0.1);
    margin-bottom: 2rem;
}

.modalForm label {
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    transition: all 0.3s ease;
}

.priceContainer {
    display: flex;
    margin: 1rem auto;
    padding: 0.5rem;
}

.priceContainer input {
    font-family: 'Poppins', sans-serif;
    margin: 0 1rem;
    width: 6rem;
}

.rateTable {
    font-family: 'Poppins', sans-serif;
    border-collapse: collapse;
}

.rateTable td, .rateTable th {
    text-align: left;
    padding: 0 1rem;
}

.checkboxContainer {
    margin: 1rem auto;
    padding: 0.5rem;
    border-left: 2px black solid;
    border-right: 2px black solid;
}

.checkboxContainer input {
    display: none !important;
}

.checkboxContainer input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #dddddd;
    height: 40px;
    width: 30px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
    transition: all 0.3s ease;
}

.checkboxContainer input[type=checkbox]:checked + label {
    background: #219521;
    color: #ffffff;
}

.hourContainer input {
    width: 2rem;
    font-family: 'Poppins', sans-serif;
    margin: 0 0.2rem 0 1rem;
    padding: 0 0.2rem;
}

.hourContainer label {
    font-family: 'Poppins', sans-serif;
    margin: 0 0.2rem 0 1rem;
}

#addPriceToRate {
    float: right;
    padding: 0.5rem 1rem;
    font-size: 2rem;
    border-radius: 10px;
    margin: 0 2rem 0 0;
    cursor: pointer;
    background: #219521;
    color: #ffffff;
    transition: all 0.3s ease;
}

#addPriceToRate:hover {
    background-color: #29bd29;
}

.closeFormButton {
    float: right;
    font-weight: bold;
    border-radius: 0.2rem;
    background-color: #ff0009;
    color: white;
    padding: 0 0.5rem;
    cursor: pointer;
    transition: all 0.3s ease;
}

.closeFormButton:hover,
.closeFormButton:focus {
    background-color: #ff5c61;
    cursor: pointer;
}

.costContainer {
    position: absolute;
    top: 35%;
    right: 5%;
    font-size: 1.5rem;
    font-weight: bold;
}

@media screen and (max-width: 1104px) {
    .wrapper {
        margin-left: 0;
    }
}
