.battery {
    min-width: 100px;
    height: 26px;
    border: solid thin rgba(63, 57, 57, 0.49);
    border-radius: 10px;
    position: relative;
    display: flex;
}

.battery-charge {
    border-radius: 10px;
}

.index-container {
    display: flex;
}

.index-container > span {
    text-align: left;
}

.index__text {
    margin-left: 3rem;
    max-width: 48rem;
}

.comparison_list {
    list-style: disclosure-closed;
    text-align: left;
}

.comparison_list li {
    margin-bottom: 1rem;
    text-align: left;
}