.btn-chart-container {
    width: 70%;
    position: relative;
    left: 30rem;
    background-size: 100% 100%;
    shape-margin: 40px;
}

.date-picker-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
    position: relative;
    left: 10rem;
    width: 70%;
}

.buttons {
    min-width: 310px;
    text-align: center;
    font-size: 0;
}

.buttons button {
    cursor: pointer;
    border: 1px solid silver;
    border-right-width: 0;
    background-color: #f8f8f8;
    font-size: 1rem;
    padding: 0.5rem;
    outline: none;
    transition-duration: 0.3s;
    margin: 0;
}

.buttons button:first-child {
    border-top-left-radius: 0.3em;
    border-bottom-left-radius: 0.3em;
}

.buttons button:last-child {
    border-top-right-radius: 0.3em;
    border-bottom-right-radius: 0.3em;
    border-right-width: 1px;
}

.buttons button:hover {
    color: white;
    background-color: rgba(0, 255, 128, 0.43);
    outline: none;
}

.buttons button.active {
    background-color: #00ff80;
    color: white;
}

.main-chart-container {
    min-width: 310px;
    max-width: 880px;
    height: 100%;
    margin: 0 auto;
}

.date__picker {
    width: 25%;
    height: 40px;
    text-align: center;
    text-justify: auto;
    border-radius: 10px;
    box-shadow: 4px 2px rgba(102, 102, 102, 0.3);
    font-size: 0.9rem;
}

.time__picker {
    width: 25%;
    height: 40px;
    text-align: center;
    text-justify: auto;
    border-radius: 10px;
    box-shadow: 4px 2px rgba(102, 102, 102, 0.3);
    font-size: 0.9rem;
}
