/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
    --header-height: 3rem;
    --font-semi: 600;
    /*===== Colori =====*/
    /*Purple 260 - Red 355 - Blue 224 - Pink 340*/
    /* HSL color mode */
    --hue-color: 150;
    --first-color: #00934a;
    --second-color: hsl(var(--hue-color), 56%, 12%);
    /*===== Carattere =====*/
    --body-font: 'Poppins', sans-serif;
    --big-font-size: 2.25rem;
    --h2-font-size: 1.75rem;
    --normal-font-size: 1rem;
    --smaller-font-size: .75rem;
    /*===== Margins =====*/
    --mb-2: 1rem;
    --mb-4: 2rem;
    --mb-6: 3rem;
    /*===== z index =====*/
    --z-fixed: 100;
}

/*===== BASE =====*/
*, ::before, ::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    color: var(--second-color);
}

h1, h2, p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.section-title {
    position: relative;
    font-size: var(--h2-font-size);
    color: var(--first-color);
    margin-top: 2rem;
    margin-bottom: var(--mb-6);
    text-align: center;
}

.section-title::after {
    position: absolute;
    content: '';
    width: 80px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 3rem;
    background-color: var(--first-color);
}

.section {
    padding-top: 4rem;
    padding-bottom: 3rem;
}

/*===== LOADING =====*/
#loading {
    position: absolute;
    top: 50%;
    left: 43%;
    font-family: 'Poppins', sans-serif;
}

/*===== LAYOUT =====*/
.title {
    position: relative;
    top: -2rem;
    font-size: 1.25rem;
}

.bd-grid {
    max-width: 1024px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: #fff;
    box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*===== NAV =====*/
.nav {
    height: 4.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: var(--font-semi);
}

.nav__list {
    display: flex;
    padding-top: 0;
}

.nav__item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
}

.nav__link {
    position: relative;
    color: black;
}

.nav__link:hover {
    position: relative;
}

.nav__link:hover::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

.nav__link.active::after {
    position: absolute;
    content: '';
    width: 100%;
    height: 0.18rem;
    left: 0;
    top: 2rem;
    background-color: var(--first-color);
}

.nav__logo {
    color: var(--second-color);
}

.logo__container{
    float: left;
}

/*===== HOME =====*/
.home {
    position: relative;
    height: 100%;
    max-height: 40rem;
    row-gap: 3rem;
    padding: 8rem 0 2rem;
}

.info_and_dp_home {
    width: 30%;
    display: flex;
}

/* ===== INDEXES =====*/
.index_container {
    row-gap: 2rem;
    text-align: center;
}

.index__value {
    font-weight: bold;
    font-size: 1.0rem;
    margin-left: 0.5rem;
    width: 6rem;
}

/* Remove arrows from number input forms */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
